{% load static i18n message_filters %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="{% static 'allauth/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/sweetalert.min.css' %}">

        <title>
            {% block head_title %}
            {% endblock head_title %}
        </title>
        {% block extra_head %}
        {{ form.media }}
        {% endblock extra_head %}
    </head>
    <body>
        {% block body %}
            {% if messages %}
                {{ messages|to_json|json_script:"django-messages" }}
            {% endif %}
            <main>
            {% block content %}
            {% endblock content %}
            </main>

        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}   

        <script src="{% static 'core/js/sweetalert.all.min.js' %}"></script>
        <script src="{% static 'core/js/messages.js' %}"></script>

    </body>
</html>
