:root {
    --space--mobile: 1rem;
    --space--desktop: 2rem;

    --h1--size--mobile: 3rem;
    --h2--size--mobile: 1.25rem;
    --h3--size--mobile: 1.125rem;

    --h1--size--desktop: 5rem;
    --h2--size--desktop: 2rem;
    --h3--size--desktop: 1.25rem;

}

.profile-hero {
    width: 100%;
    height: 24rem;
    background-position: center center;
    background-size: cover;
    border-radius: 0.5rem;
    display: grid;
    place-items: center;
}

.profile-hero .profile-banner {
    height: 70%;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    display: grid;
    place-content: center;
}

.profile-hero .user-avatar-container {
    display: flex;
    flex-direction: column;
    gap: var(--space--mobile);
    align-items: center;
}

.profile-hero .user-avatar-container .avatar {
    border-radius: 100%;
    width: 10rem;
}

.profile-hero .user-avatar-container .username {
    font-size: var(--h2--size--mobile);
    font-weight: 700;
}

.profile-section-container {
    margin-top: 2rem;
    width: 100%;
    padding: var(--space--mobile);
    background-color: #d1b5e6;
    border-radius: 0.5rem;
}

/* stats */
.user-stats-container {
    gap: var(--space--mobile);
    display: grid;
}

.profile-card {
    padding: var(--space--mobile);
    background-color: white;
    border-radius: 0.5rem;
}


.user-stat .count {
    line-height: 1.12;
    font-size: var(--h1--size--mobile);
    font-weight: 800;
}

.user-stat .description {
    margin-inline-start: 0.35rem;
    font-size: var(--h3--size--mobile);
    font-weight: 600;
}

.actions .title {
    font-size: var(--h2--size--mobile);
    font-weight: 600;
}

.actions .profile-link {
    margin-top: 0.5rem;
    text-decoration: underline;
    text-underline-offset: 0.25em;
    color: #59168b;
    cursor: pointer;
}

.actions .profile-link:hover, .profile-link:focus {
    color: #310850;
}

@media (min-width:40rem) {
    .user-stats-container {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (min-width:48rem) {
    /* hero */
    .profile-hero .profile-banner {
        height: 50%;
    }

    .profile-hero .user-avatar-container {
        flex-direction: row;
        gap: var(--space--desktop);
    }   

    .profile-hero .user-avatar-container .username {
        font-size: var(--h2--size--desktop);
    }
 
    /* main */
    .profile-section-container {
        padding: var(--space--desktop);
    }

    .user-stats-container {
        gap: var(--space--desktop);
    }

    .profile-card {
        padding: var(--space--desktop);
    }

    .user-stat .count {
        font-size: var(--h1--size--desktop);
    }

    .user-stat .description {
        margin-inline-start: 0.35rem;
        font-size: var(--h3--size--desktop);
    }

    .actions .title {
        font-size: var(--h2--size--desktop);
    }
}

/* general */

dialog::backdrop {
    background-color: rgba(0,0,0,.5);
}

dialog {
    inset: 0; 
    margin: auto;
    border-radius: 0.5rem;
}

.dialog-content {
    padding: 2rem;
    border-radius: 0.5rem;
}

.dialog-content .title {
    font-size: 1.5rem;
    font-weight: 600;
}

.dialog-actions {
    margin-top: 1rem;
    display: flex;
    justify-content: end;
    gap:1rem;
}

.btn {
    padding: 0.65em 1em;
    border-radius: 0.75rem;
    cursor: pointer;
}

.danger-btn {
    background-color: red;
    color: white;
}

.danger-btn:hover {
    background-color: rgb(160, 1, 1);
    color: white;
}


.good-btn {
    background-color: hsl(125, 84%, 40%);
    color: white;
}

.good-btn:hover {
    background-color: hsl(125, 85%, 30%);
    color: white;
}